<!DOCTYPE html>
{% extends 'lyrics_app/base_form_lyrics.html' %}
{% load static %}
{% load lyrics_ellipse %}

{% block  title %}
| Lyrics
{% endblock %}

{% block  body_block %}
<div class='my-own-row'>


<!-- <div class='container' id=''> -->
            {% if messages %}
                {% for message in messages %}
                <div id='list-msg' class="alert {{ message.tags }} alert-dismissible shadow fade show" role="alert">
                    <button type="button" class="toast hide" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message | safe }}
                </div>
                {% endfor %}
             {% endif %}

            
        
            
            <!-- Modal -->
            <div class="modal fade" id="preview-lyrics-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="lyrics-modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id='modal-body' style="text-align: center;">
                   
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="position:absolute; left: 0; margin-left: 20px;">Close</button>
                    
                    <button id='copyButton' type="button" class="btn btn-outline-danger">
                        <svg xmlns="" width="16" height="17" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"></path>
                            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"></path>
                        </svg> <span id='copyText'>Copy</span>
                    </button>

                    <a id='modal-go-to-lyric' type="button" class="btn btn-primary" style="margin-right: 7.5px;">Go To Lyric</a>
                    </div>
                </div>
                </div>
            </div>

            {% if lyrics %}
                    <div id='box' class="container lyrics-container">

                    
                    </div>



                 <!-- For All Load More -->
                 <div align='center' id="spinner-box" class="not-visible">
                    <div class="spinner-border text-primary" role="status"></div>
                </div>
                <div align='center' id='loading-box' class="not-visible mb-5 mt-2">
                    <button class="btn btn-primary" id='load-more'>Load More</button>
                </div>



            {% else %}
            <h3 align='center'>There are no lyrics to display</h3>
            {% endif %}

</div>


            

{% endblock %}


{% block scripts %}

<script>

    const mess = document.getElementById('msg')
    // console.log(mess.innerHTML)
    mess.classList.add('not-visible')

    var fadeTarget = document.getElementById('list-msg')
    // console.log(mess.innerHTML)

    function fadeOutEffect() {
        var fadeEffect = setInterval(function () {
            if (!fadeTarget.style.opacity) {
                fadeTarget.style.opacity = 1;
            }
            if (fadeTarget.style.opacity > 0) {
                fadeTarget.style.opacity -= 0.1;
            } else {
                clearInterval(fadeEffect);
            }

        }, 500);

    }

    fadeOutEffect()

    setTimeout(()=>{
        fadeTarget.classList.add('not-visible')
    }, 5000)
    

    // For Copying To Clipboard
    function myCopyFunction() {
        var getTextCopy = document.getElementById('copyText')

        // var copyLyrics = document.querySelector("#modal-body");

        getTextCopy.innerTextHTML = 'Copied!'
        setTimeout(function(){
            if (getTextCopy.innerHTML = 'Copied!'){
                getTextCopy.innerHTML = 'Copy';
            }
        }, 1500);
    }


    
</script>

<script>

    var delay = ( function() {
            var timer = 0;
            return function(callback, ms) {
                clearTimeout (timer);
                timer = setTimeout(callback, ms);
            };
        })();    


    function truncate(str) {
        let firststr = str.split(" ").join(" ").replace(/(\r\n|\n|\r)/gm, " ");
       
        let firstMyNew = firststr.slice(0,17);
        // console.log(firstMyNew)
        let myNew = firstMyNew.trim()
        
        myNew = myNew + '...';
        return myNew;
    }
    
    const data = '{{qs_json}}'
    const rdata = JSON.parse(JSON.stringify(data.replace(/&quot;/g, '"').replace(/&#x27;/g, "'")));
    const input = document.getElementById('search-here');

    // console.log(data)
    // console.log(input)

    const postBox = document.getElementById('box')
    const spinnerBox = document.getElementById('spinner-box')
    const loadBtn = document.getElementById('load-more')
    const loadBox = document.getElementById('loading-box')



    // Modals

    const modalBodyLy = document.getElementById('modal-body')
    const modalGoToLy = document.getElementById('modal-go-to-lyric')
    const modalTitleLy = document.getElementById('lyrics-modal-title')
    const modalCopyButton = document.getElementById('copyButton')
    const modalCopy = document.getElementById('copyText')
    // console.log(ModalCopy.innerHTML)
    // const modalCopyLy = document.getElementById('modal-copy')
    const urlModal = window.location.href
    console.log(urlModal)

    let visible = 15

    const handleGetData = () =>{

            $.ajax({
                type: 'GET',
                url: `/api/lyrics-json/${visible}/`,
                success: function(response){
                    maxSize = response.max_lyrics
                    const lyricsData = response.lyrics_data
                    // console.log(lyricsData)
                    loadBox.classList.remove('not-visible')
                    spinnerBox.classList.remove('not-visible')
                    setTimeout(()=>{
                        spinnerBox.classList.add('not-visible')
                        lyricsData.map(lyrics=>{
                            // console.log(lyrics)
                            let newLyrics = truncate(`${lyrics['song_lyrics']}`)

                            // href link for a tag without the modal is (href="${lyrics['lyrics_id']})   ${urlModal}${lyrics['lyrics_id']}"

                            box.innerHTML += 
                            `<div id='per-lyrics' class="col-12 ">
                                <div data-bs-toggle="modal" data-bs-target="#preview-lyrics-modal" data-cont='${lyrics['song_lyrics']}' id='modal-button'>
                                    <a class='lyrics-card lyricCont' id='card-text'>
                                        <span id='song-name-invisible' class='not-visible'>${lyrics['song_name']}</span>
                                        <span id='artist-invisible' class='not-visible'>${lyrics['artist']}</span>
                                        <span id='lyrics-invisible' class='not-visible'>${lyrics['song_lyrics']}</span>
                                        <span id='link-invisible' class='not-visible'>${urlModal}${lyrics['lyrics_id']}</span>
                                        <div>
                                            <div class='lyric-field1 col-sm-3'>
                                                <h3><b>${lyrics['song_name']}</b></h3>
                                            </div>
                                            <div align='justify' class='lyric-field2 col-sm-5'>
                                                <h4>${newLyrics}<h4>
                                            </div>
                                            <div align='right' class='lyric-field3 col-sm-3'>
                                                <h4>${lyrics['category']}<h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>`     

                        
                            const modalCont = [...document.getElementsByClassName('lyricCont')]
                            // console.log(modalCont)
                            modalCont.forEach(element=>element.addEventListener('click', e=>{
                                const parentObj = e.target.closest("#card-text")
                                var nameAttr = (parentObj.querySelector('#song-name-invisible').innerHTML) 
                                var artistAttr = (parentObj.querySelector('#artist-invisible').innerHTML) 
                                var lyricsAttr = (parentObj.querySelector('#lyrics-invisible').innerHTML) 
                                var linkAttr = (parentObj.querySelector('#link-invisible').innerHTML) 
                                // console.log(linkAttr)
                                
                                modalTitleLy.innerHTML = `<span style='font-weight: bold;'>${nameAttr}</span>` + `<span style='color: red;'> By </span>` + `<span style='font-size: 14px;'>${artistAttr}</span>`;
                                modalBodyLy.innerText = lyricsAttr
                                modalGoToLy.href = linkAttr

                                modalCopyButton.addEventListener('click', function(){
                                    modalCopy.innerHTML = 'Copied!'
                                    setTimeout(function(){
                                        if (modalCopy.innerHTML = 'Copied!'){
                                            modalCopy.innerHTML = 'Copy';
                                        }
                                    }, 1500);

                                    // if (navigator.clipboard) {
                                    // // Clipboard API available
                                        navigator.clipboard.writeText(lyricsAttr)
                                            .then(() => {
                                        })
                                            .catch(err => {
                                            console.log('Something went wrong', err);
                                        })
                                    // return
                                    // } else{
                                        // Clipboard API not available
                                        // lyricsAttr.select();
                                        // document.execCommand('copy');
                                    // }
                                    
                                    
                                })


                            }));
                        

                        })
                        if (maxSize){
                            loadBox.innerHTML = `<h5 text-align='center' class='card-p-java' style='color: red;'>You Have Reached The End!</h5>`
                        }
                    }, 500)         
                },

                error: function(error){
                    console.log(error)
                }
            })         
    }

    
    input.addEventListener('keyup', (e)=>{
        
            const unwantedChars = ['0','1,','2','3','4','5','6,','7','8','9','.',',','/,','-','-','=',"\\"] 

            function checkChars(){
                for (let key in unwantedChars){
                    if (e.target.value.indexOf(key) === 0){
                        return 1
                    }
                }
            }

            if (checkChars() === 1){
                return
            
            } else if (e.target.value.trim() == "" || e.target.value.trim() == null){
                // console.log(e.target.value.trim().length)
                box.innerHTML = ""
                delay(function(){
                    handleGetData()
                }, 500 );
                            

            } else {
                let url = window.location.href.split('/')
                url.pop()
                url.pop()
                url = url.join("/")
                url+='/api/lyrics/search/' + e.target.value
                fetch(url).then(response => response.json()).then(response => {
                    const filtlyricsData = response.filt_data
                    loadBox.classList.add('not-visible')

                    if (filtlyricsData.length > 0){
                        box.innerHTML = ""

                        filtlyricsData.map(filtLyrics=>{
                            let newFreshLyrics = truncate(`${filtLyrics['song_lyrics']}`)

                            box.innerHTML += 
                            `<div id='per-lyrics' class="col-12 ">
                                <div data-bs-toggle="modal" data-bs-target="#preview-lyrics-modal" data-cont='${filtLyrics['song_lyrics']}' id='modal-button'>
                                    <a class='lyrics-card lyricCont' id='card-text'>
                                        <span id='song-name-invisible' class='not-visible'>${filtLyrics['song_name']}</span>
                                        <span id='artist-invisible' class='not-visible'>${filtLyrics['artist']}</span>
                                        <span id='lyrics-invisible' class='not-visible'>${filtLyrics['song_lyrics']}</span>
                                        <span id='link-invisible' class='not-visible'>${urlModal}${filtLyrics['lyrics_id']}</span>
                                        <div>
                                            <div class='lyric-field1 col-sm-3'>
                                                <h3><b>${filtLyrics['song_name']}</b></h3>
                                            </div>
                                            <div align='justify' class='lyric-field2 col-sm-5'>
                                                <h4>${newFreshLyrics}<h4>
                                            </div>
                                            <div align='right' class='lyric-field3 col-sm-3'>
                                                <h4>${filtLyrics['category']}<h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>`     

                            const modalCont = [...document.getElementsByClassName('lyricCont')]
                            // console.log(modalCont)
                            modalCont.forEach(element=>element.addEventListener('click', e=>{
                                const parentObj = e.target.closest("#card-text")
                                var nameAttr = (parentObj.querySelector('#song-name-invisible').innerHTML) 
                                var artistAttr = (parentObj.querySelector('#artist-invisible').innerHTML) 
                                var lyricsAttr = (parentObj.querySelector('#lyrics-invisible').innerHTML) 
                                var linkAttr = (parentObj.querySelector('#link-invisible').innerHTML) 
                                // console.log(linkAttr)
                                
                                modalTitleLy.innerHTML = `<span style='font-weight: bold;'>${nameAttr}</span>` + `<span style='color: red;'> By </span>` + `<span style='font-size: 14px;'>${artistAttr}</span>`;
                                modalBodyLy.innerText = lyricsAttr
                                modalGoToLy.href = linkAttr
                               
                                modalCopyButton.addEventListener('click', function(){
                                    modalCopy.innerHTML = 'Copied!'
                                    setTimeout(function(){
                                        if (modalCopy.innerHTML = 'Copied!'){
                                            modalCopy.innerHTML = 'Copy';
                                        }
                                    }, 1500);

                                    navigator.clipboard.writeText(lyricsAttr)
                                            .then(() => {
                                        })
                                            .catch(err => {
                                            console.log('Something went wrong', err);
                                        })
                                })

                            }));
                        })
                    } else {
                        box.innerHTML = `<h5 text-align='center' class='card-p-java'><b>No results found!</b></h5>`
                    }
                })
            }
  
        })
    

    handleGetData()
    

    loadBtn.addEventListener('click', ()=>{
        visible += 15
        handleGetData()
    })

   











    // input.addEventListener('keyup', (e)=>{

    //     const unwantedChars = ['0','1,','2','3','4','5','6,','7','8','9','.',',','/,','-','-','='] 

    //     function checkChars(){
    //         for (let key in unwantedChars){
    //             if (e.target.value.indexOf(key) === 0){
    //                 return 1
    //             }
    //         }
    //     }
        
                
    //     let url = window.location.href.split('/')
    //     url.pop()
    //     url.pop()
    //     url = url.join("/")

    //     if(e.target.value.trim() === "" || checkChars() === 1){
    //         let allurl = window.location.href.split('/')
    //         allurl.pop()
    //         allurl.pop()
    //         allurl = allurl.join("/")
    //         allurl+='/api/lyrics/'
    //         console.log(allurl)
    //         fetch(allurl).then(response => response.json()).then(filteredAllArr => {
    //             box.innerHTML = ""
    //             filteredAllArr.map(lyrics=>{
                    
                  
    //                 let newLyrics =  truncate(`${lyrics['song_lyrics']}`)

    //                 box.innerHTML += `<div id='per-lyrics' class="col-12">
    //                 <a class='lyrics-card' id='card-text' href="${lyrics['lyrics_id']}">
    //                 <div>
    //                     <div class='lyric-field1 col-sm-3'>
    //                         <h3><b>${lyrics['song_name']}</b></h3>
    //                     </div>
    //                     <div align='justify' class='lyric-field2 col-sm-5'>
    //                         <h4>${newLyrics}<h4>
    //                     </div>
    //                     <div align='right' class='lyric-field3 col-sm-3'>
    //                         <h4>${lyrics['category']}<h4>
    //                     </div>
    //                 </div>
    //                 </a>
    //             </div>`
    //             return;})
    //         })
    //     } else {
    //         url+='/api/lyrics/search/' + e.target.value
    //         console.log(url)
    //         fetch(url).then(response => response.json()).then(filteredArr => {

    //         if (filteredArr.length > 0){
    //             console.log(filteredArr)
    //             box.innerHTML = ""
    //             filteredArr.map(lyrics=>{
               
    //                 let newLyrics = truncate(`${lyrics['song_lyrics']}`)
    //                 // console.log(newLyrics)

    //                 box.innerHTML += `<div id='per-lyrics' class="col-12">
    //                 <a class='lyrics-card' id='card-text' href="${lyrics['lyrics_id']}">
    //                 <div>
    //                     <div class='lyric-field1 col-sm-3'>
    //                         <h3><b>${lyrics['song_name']}</b></h3>
    //                     </div>
    //                     <div align='justify' class='lyric-field2 col-sm-5'>
    //                         <h4>${newLyrics}<h4>
    //                     </div>
    //                     <div align='right' class='lyric-field3 col-sm-3'>
    //                         <h4>${lyrics['category']}<h4>
    //                     </div>
    //                 </div>
    //                 </a>
    //             </div>`
    //         })
    //         } else {
    //         box.innerHTML = `<h5 text-align='center' class='card-p-java'><b>No results found!</b></h5>`
    //         }
    //     })

    //     }
    

    // })



</script>

<script src="{% static 'js/church_app_js.js' %}"></script>
{% endblock scripts %}
