<!DOCTYPE html>
{% extends 'church_app/church_app_base.html' %}

{% block title %}
| Lyrics
{% endblock %}


{% load static %}
{% block  body_block %}


<div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST">
                {% csrf_token %}
                <p>Are you sure you want to delete?</p>
                <div id='lyrics-button'></div>
                <a id='update-button' class='btn btn-primary' inline='True' href="{% url 'church_app:detail' pk=member.pk %}">Cancel</a>
                <input type="submit" class='btn btn-danger' value="Confirm">
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>



  
    <hr>
    <div class='container lyrics-text'>    

        <form method="POST">
            {% csrf_token %}
            <p>Are you sure you want to delete?</p>
            <div id='lyrics-button'></div>
            <a id='update-button' class='btn btn-primary' inline='True' href="{% url 'church_app:detail' pk=member.pk %}">Cancel</a>
            <input type="submit" class='btn btn-danger' value="Confirm">
            </div>
        </form>
    </div>


    <!-- class='post-delete' -->
            
    

{% endblock %}