<!DOCTYPE html>
{% extends 'church_app/church_app_base.html' %}
{% block  body_block %}
{% load crispy_forms_tags %}

    <div class="container-fluid">
        <div class='d-flex align-items-center py-5'>
            <div class='col-12 col-md-6 col-lg-4 mx-auto'>
        
                <h3 class="att-title">{{attend.service_Type}} on {{attend.date}}</h3>
                {% for att in attend.service_set.all %}
                    {% for serv in att.no_of_men %}
                    <p class="att-list">Number of Men: {{serv}}</p>
                    {% endfor %}
                {% endfor %}
          
 
          
            </div>
        </div>
    </div>
     

{% endblock %}