* {
  box-sizing: border-box;
}

body{
  padding-top:50px;

}
html {
  margin: auto;
  padding: 0;
}

.not-visible{
  display: none;
}

.for-center{
  text-align: center;
}


/* Search Box */
.adv-search-box{ 
  background-color:rgb(159, 196, 168);
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.search-div{
  width: 100vw;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: .5rem;
}

#search-here {
  background-image: url("../icons/search.png");
  background-size: 25px;
  background-position: 10px;
  background-repeat: no-repeat;
  height: 60px;
  width: 65vw;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 40px;
  border-radius: 20px;
  
}

#att-search-here {
  background-image: url("../icons/search.png");
  background-size: 25px;
  background-position: 10px;
  background-repeat: no-repeat;
  height: 60px;
  width: 500px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 40px;
  border-radius: 20px;
  
}

#back-arrow-img{
  margin-top: 2vw;
  border: none;
  width: 4.5vw;
  height: 4vw;
  font-size: 1.5vw;
  color: #FFFFFF;
  border-radius: 0.5vw;
  font-weight: bold;
  cursor: pointer;
}


/* Generate LIst Table Head */

.list-table-head{
  background-color: rgb(112, 172, 23);
}


/* Members */

.add_title {
  text-align: center;
  background-color: rgb(112, 172, 23);
  padding-right: auto;
  padding-left: auto;
  width: 100vw;
  margin-bottom: 0px;
}

#add-member {
  border-radius: 5px;
  background-color: rgb(136, 122, 125);
  text-decoration: none;
  color: black;
  cursor: pointer;
  outline: none;
  padding: 10px;
}

#member-cont{
  padding-right: 3rem;
}

.memb_detail_cont{
  margin-top: 1.5rem;
  margin-right: 3rem;
  margin-left: 3rem;
  font-family: sans-serif;
}

#member-headings {
  height: 5vh;
}

#memb_name{
  display: inline-block;
  padding-top: .6rem;
}

#my_hr_margin{
  margin-top: 8.5px;
  margin-bottom: 8.5px;
}

#memb_det_div{
  margin-top: 5px;
}

#memb_det_lab{
  font-size: 15px; 
}

#member_form_lab_tags1{
  text-align: left;
  font-style: oblique;
}

#member_form_field{
  margin-bottom: 1rem;
}

#add-member:focus,
#add-member:hover {
  filter: brightness(75%) saturate(120%);
}


#member-left-col{
  margin-left: 3rem;
  background-color: rgb(200, 245, 204);
  /* margin-top: 3rem; */
  height: 51vh;
  position: sticky;
  top: 250px;
  bottom: 120px;
 
}


.fix-tops{
  padding-top: 15vh;
}


.add_title_attendance {
  text-align: center;
  background-color: rgb(114, 98, 199);
  padding-right: auto;
  padding-left: auto;
  margin-bottom: 0px;
}

.my-heads{
  border-bottom-style: solid;
  border-bottom-color: black;
}


nav {
  margin: auto;
  padding-left: 2em;
  padding-right: 2em;
}


.index-h1 {
  color: green;
}

.my-own-row{
  padding-top: 12rem;
  margin-right: 2px;
}

.col-8{
  margin-left: 1rem;
}

.my-own-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 2rem;
  margin-top: .8rem;
  margin-bottom: 2rem;
  /* padding-bottom: 15px; */
}

.my-own-card {
  border: 2px solid #e7e7e7;
  border-radius: 20px;
  padding: 0.8rem;
  padding-top: 0.5em;
  padding-bottom: 0.1em;
}


#card-text {
  text-decoration: none;
  color: black;
}

#card-att-text {
  text-decoration: none;
  color: black;
  font-size: 20pt;
  text-align: justify;
  text-justify: inter-word;
}

.att-list{
  margin-bottom: .8rem;
  text-align: center ;
}



.att-title{
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  color: rgb(114, 98, 199);
  
}

.att-group-item {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  color: #212529;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.att-group-item:hover {
  color: blue;
}

.my-own-card:hover {
  /* color: #fff; */
  background-color: #85e4b8;
  border-color: #198754;
  color: black;
}


.card-p {
  margin-top: 0.05em;
  margin-bottom: 0.1em;
}

.card-p-java {
  margin-top: 0.05em;
  margin-bottom: 0.1em;
  text-align: center;
}

#btnserachmarg {
  margin-right: 20px;
}


/* Lyrics */

.lyrics_detail_cont{
  margin-top: 1.5rem;
  margin-right: 3rem;
  margin-left: 3rem;
  font-family: sans-serif;
}

.lyrics-card {
  border-bottom: 2px solid #e7e7e7;
  border-radius: 2px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: .5px;
  padding-left: 40px;
}

.lyrics-card:hover {
    /* color: #fff; */
    background-color: #ecd9d9;
    border-color: #e6e5ee;
    color: black;
    cursor: pointer;
}


.lyrics-container{
  margin-top: 1px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}


.add_title_lyrics {
  text-align: center;
  background-color: rgb(219, 60, 60);
  padding-right: auto;
  padding-left: auto;
  margin-bottom: 0px;
}


.lyric-field1{
  padding-top: 25px;
  padding-bottom: 15px;
  margin-left: 2px;
  border: 1px;
  display: inline-block;
  padding-left: 15px;
  /* font-family: "Lucida Console", "Courier New", monospace; */
}
.lyric-field2{
  padding-top: 25px;
  padding-bottom: 15px;
  border: 1px;
  display: inline-block;
  text-align: center;

}
.lyric-field3{
  padding-top: 25px;
  padding-bottom: 15px;
  border: 1px;
  display: inline-block;
  /* font-family: "Lucida Console", "Courier New", monospace; */
}

.lyrics-text{
  text-align: center;
}


#update-button{
  margin-right: 10px;
}


#login_button{
  display: block;
  
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.login-button{
  margin-top: 1rem;
}

.login_div{
  margin-top: 3rem;
  text-align: center;
}


.myform {
  border: 2px solid #e7e7e7;
  border-radius: 20px;
  padding: 0.8rem;
  padding-top: 0.5em;
  padding-bottom: 0.1em;
  text-align: center;
  width: 65%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  
}

.my-att-form {
  border: 2px solid #e7e7e7;
  border-radius: 20px;
  padding: 0.8rem;
  padding-top: 0.5em;
  padding-bottom: 0.1em;
  text-align: center;
  width: 65%;
  height: auto;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}

#att-details{
  font-size: 17pt;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
}

.att-edit-button{
  width: 40vw;
  margin-top: 1rem;
  margin-left: 10vw;
  margin-right: 15vw;
  position: relative;
  height: 10%; 
  top: 89%;
 
}

.att-cont{
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  
  grid-auto-rows: 2;
  grid-gap: 2rem;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.att-det-tot{
  color: red;
  font-weight: bolder;
  text-decoration: underline;
}

#else-add-att{
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.att-edit-form{
  margin-left: 2rem;
}

.att-listing{
  margin-bottom: 4rem;
}

#mybutt {
  margin-bottom: 3px;
  margin-top: 10px;
  width: 8rem;
  height: 2.8rem;
}

.child {
  display: inline-block;
  padding-right: 2rem;
  padding-bottom: 5px;
  vertical-align: middle;
  margin-top: 0.4px;
}

.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: rgb(1, 1, 17);
  color: white;
  
}

#dark-button {
  border: 1px darkgreen solid;
  border-radius: 10px;
  font-style: oblique;
  margin-left: .7rem;
}

#att_form_rad{
  display: none;
}


/* Cells */
#cell_members{
  color: rgb(10, 10, 10); 
  text-decoration: none;
}

#cell_members:hover{
  color: blue;
}

.att-group-item-cell {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  color: #212529;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.att-group-item-cell:hover {
  color: salmon;
}

/* FOR ADVANCED FILTERINGS */

#filter_back-arrow-img{
  border: none;
  width: 3vw;
  height: 2.5vw;
  font-size: 1vw;
  color: #FFFFFF;
  border-radius: 0.5vw;
  font-weight: bold;
  cursor: pointer;
}


/* STYLES FOR SMS TEMPLATES */

/* for draft_detail */
.sms_border_style{
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  height: auto;
  word-wrap:break-word;

}

#span_item{
  width: 5rem;
  
}

.compute_boxes{
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
}

#tags_label{
  margin-bottom: 0px;
}

#sms_back-arrow-img{
  margin-right: 7px;
  border: none;
  width: 4.5vw;
  height: 4vw;
  font-size: 1.5vw;
  color: #FFFFFF;
  border-radius: 0.5vw;
  font-weight: bold;
  cursor: pointer;
}

.mess_list_link:hover{
  background-color: rgb(175, 114, 23);
}



/* PAGINATION */
.paginate_boxes{
  text-decoration: none;
  padding-left: 5px;
  padding-right: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  margin-right: 3px;
  margin-left: 3px;

}

#page_ul_style{
  margin-left: 25vw; 
  margin-right: 2vw; 
  margin-top: 16px;
}

#page_ul_style_label{
  margin-left: 25vw; 
  margin-right: 2vw; 

}
